In [314]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [347]:
tabelaBrasileiro = pd.read_csv('brasileirao-seriea.txt',  header=None, names=["a"])

In [350]:
tabelaBrasileiro

                                         a
0                                 Rodada 1
1                                     [Sáb
2      Corinthians     1 - 1   Chapecoense
3                                     [Dom
4           Fluminense      3 - 2   Santos
5    Palmeiras       4 - 0   Vasco da Gama
6        Cruzeiro        1 - 0   São Paulo
7      Bahia           6 - 2   Atlético PR
8            Ponte Preta     4 - 0   Sport
9          Avaí            0 - 0   Vitória
10        Grêmio          2 - 0   Botafogo
11                                    [Seg
12     Coritiba        4 - 1   Atlético GO
13                                Rodada 2
14                                    [Sáb
15        Santos          1 - 0   Coritiba
16        Atlético GO     0 - 3   Flamengo
17       Chapecoense     1 - 0   Palmeiras
18                                    [Dom
19           Vasco da Gama   2 - 1   Bahia
20      Atlético MG     1 - 2   Fluminense
21          Atlético PR     0 - 2   Grêmio
22     Vitória         0 - 1   Corinthians
23     Botafogo        2 - 0   Ponte Preta
24        Sport           1 - 1   Cruzeiro
25                                    [Seg
26            São Paulo       2 - 0   Avaí
27                                Rodada 3
28                                    [Sáb
29      Vasco da Gama   3 - 2   Fluminense
..                                     ...
491      Atlético PR\t3 - 1\tVasco da Gama
492                                   [Seg
493         Fluminense\t2 - 0\tPonte Preta
494               Avaí\t\t2 - 1\tPalmeiras
495                              Rodada 37
496                                   [Sáb
497               Fluminense\t1 - 2\tSport
498                                   [Dom
499        Corinthians\t2 - 2\tAtlético MG
500         Cruzeiro\t0 - 1\tVasco da Gama
501             Coritiba\t1 - 2\tSão Paulo
502           Grêmio\t\t1 - 1\tAtlético GO
503            Ponte Preta\t2 - 3\tVitória
504             Avaí\t\t1 - 0\tAtlético PR
505                Flamengo\t1 - 2\tSantos
506            Bahia\t\t0 - 1\tChapecoense
507                                   [Seg
508             Palmeiras\t2 - 0\tBotafogo
509                              Rodada 38
510                                   [Dom
511              Botafogo\t2 - 2\tCruzeiro
512      Vasco da Gama\t2 - 1\tPonte Preta
513                  Santos\t\t1 - 1\tAvaí
514                São Paulo\t1 - 1\tBahia
515             Atlético MG\t4 - 3\tGrêmio
516          Atlético PR\t3 - 0\tPalmeiras
517            Sport\t\t1 - 0\tCorinthians
518             Vitória\t\t1 - 2\tFlamengo
519         Atlético GO\t1 - 1\tFluminense
520           Chapecoense\t2 - 1\tCoritiba

[521 rows x 1 columns]

In [306]:
data[1:2]

                                   index Rodada 1
1  Palmeiras       4 - 0   Vasco da Gama      NaN

In [310]:
df = pd.DataFrame(data)

In [311]:
df.iloc[1:]

                                   index Rodada 1
1  Palmeiras       4 - 0   Vasco da Gama      NaN
2      Cruzeiro        1 - 0   São Paulo      NaN
3    Bahia           6 - 2   Atlético PR      NaN
4          Ponte Preta     4 - 0   Sport      NaN

In [98]:
obj = {'col1': [1, 2], 'col2': [3, 4]}
obj

{'col1': [1, 2], 'col2': [3, 4]}

In [312]:
data = df['Rodada 1'].iloc[3:]

In [313]:
data

3    NaN
4    NaN
Name: Rodada 1, dtype: object

In [151]:
ss = pd.Series(data)

In [161]:
br = ss.str.split(" ")

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Rodada 1, dtype: object

In [255]:
br

Fluminense      3 - 2   Santos           NaN
Palmeiras       4 - 0   Vasco da Gama    NaN
Cruzeiro        1 - 0   São Paulo        NaN
Bahia           6 - 2   Atlético PR      NaN
Ponte Preta     4 - 0   Sport            NaN
Name: Rodada 1, dtype: object

In [272]:
sr = pd.Series(br).reset_index()

In [285]:
sr2 = sr['index'].reset_index()

In [299]:
df = pd.DataFrame(sr2)
df2 = df.drop('level_0', axis=1 )

                                   index
0         Fluminense      3 - 2   Santos
1  Palmeiras       4 - 0   Vasco da Gama
2      Cruzeiro        1 - 0   São Paulo
3    Bahia           6 - 2   Atlético PR
4          Ponte Preta     4 - 0   Sport

In [301]:
df2

                                   index
0         Fluminense      3 - 2   Santos
1  Palmeiras       4 - 0   Vasco da Gama
2      Cruzeiro        1 - 0   São Paulo
3    Bahia           6 - 2   Atlético PR
4          Ponte Preta     4 - 0   Sport

AttributeError: 'DataFrame' object has no attribute 'droplevel'